
<header class="row g-0">
    <div class="col-12 headerlogo">
        <div class="logo">
            <!-- <img class="image-fluid" src="../../assets/images.png" width="80vw" alt="img"> -->
            <img class="image-fluid" src="assets/images.png" width="80vw" alt="img">
        </div>
        <div class="text-center">
            <h2>User Registration Form</h2>
        </div>
        <div class="btnright">
            <button class="btn btn-primary" (click)=clearlocalStorage()>Clear User Details</button>
        </div>
    </div>
    <div class="col-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="/registration">Registration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="/userdetails">User Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/continents">Continent</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/country">Country</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/state">State</a>
            </li>
          </ul>
    </div>
</header>