.headerlogo {
  display: flex;
  justify-content: space-between;
}
.headerlogo img {
  border-radius: 30px;
}

ul li a {
  text-decoration: none;
  color: initial;
}
header {
  background-color: #f4f4f4;
  padding: 10px 5px 0 5px;
}
