<footer class="row g-0 justify-content-between">
  <div class=" col-12 col-md-6 text-center fnav">
    <a>Home</a>
    <a>Blog</a>
    <a>Pricing</a>
    <a>About</a>
    <a>Faq</a>
    <a>Contact</a>
  </div>
  <div class=" col-12 col-md-6 text-center">
    <ul class="ullist">
      <li><i class="bi bi-facebook"></i></li>
      <li><i class="bi bi-twitter"></i></li>
      <li><i class="bi bi-instagram"></i></li>
      <li><i class="bi bi-whatsapp"></i></li>
      <li><i class="bi bi-youtube"></i></li>
    </ul>
  </div>
  <div class=" col col-12 text-center">
    <p>Company Name &copy; 2023</p>
  </div>
</footer>
